<td class='col-xs-3'>{{certificate.name}}</td>
<td class='col-xs-3'>{{certificate.expiryDate}}</td>
<td class='col-xs-2'>{{certificate.daysOfServiceToRenew}}</td>
<td class='col-xs-2'>{{seaserviceSinceIssue}}</td>
<td class='col-xs-2'>{{missingSeaservice}}</td>
