<div class="statistics">
  <h1 class="statistics-header">Statistics</h1>

  {{#if noStats}}
    {{#encouragement-box
    icon='bar-chart-o'
    header='No stats available'
    as |fragments|
    }}
      {{fragments.text text='Apparently you have no seaservices added.'}}
      {{fragments.boldText text='Go to seaservices and add seaservice to see your statistics.'}}
      {{ui/link-button-big
      destination='users.seaservice.index'
      description='Go to seaservices'
      }}
    {{/encouragement-box}}
  {{else}}
    <div class="statistics-item">
      {{statistics/mini-stats miniStatsItems=miniStatsItems}}
    </div>

    <div class="statistics-item">
      {{statistics/days-on-board-per-year
      seaserviceDaysPerYear=seaserviceDaysPerYear
      }}
    </div>

    <div class="statistics-item">
      {{statistics/work-home-ratio-charts workHomeRatioPerYear=workHomeRatioPerYear}}
    </div>

    <div class="statistics-item experience-by mobile-vertical">
      {{statistics/experience-by-position seaservices=seaservices}}
      {{statistics/experience-by-dp-class seaservices=seaservices}}
    </div>
  {{/if}}
</div>
