  <td>{{certificate.name}}</td>
  <td>{{certificate.number}}</td>
  <td>{{issueDateFormatted}}</td>
  <td>{{expiryDate}}</td>

  <td class="text-right">
    {{#paper-button iconButton=true}}
      {{#link-to 'users.certificates.edit' certificate.id}}{{paper-icon "create"}}{{/link-to}}
    {{/paper-button}}
    {{#paper-button iconButton=true onClick=(action 'deleteCertificate' certificate)}}
      {{paper-icon "delete"}}
    {{/paper-button}}
  </td>

