  <td>{{certificate.name}}</td>
  <td class='hidden-xs'>{{certificate.number}}</td>
  <td class='hidden-xs'>{{issueDateFormatted}}</td>
  <td>{{expiryDate}}</td>

  <td class="text-right">
    {{#paper-button
      iconButton=true
    }}
      <a download href={{imageUrl}}>
        {{paper-icon 'cloud-download'}}
      </a>
    {{/paper-button}}

    {{#popover-component
      class='hidden-sm hidden-md hidden-lg hidden-xl'
      item=certificate
      icon='info-outline'
    }}
      {{certificate-item-details certificate=certificate}}
    {{/popover-component}}

    {{#paper-button iconButton=true}}
      {{#link-to 'users.certificates.edit' certificate.id}}{{paper-icon "create"}}{{/link-to}}
    {{/paper-button}}

    {{#paper-button iconButton=true onClick=(action 'showPrompt' certificate)}}
      {{paper-icon "delete"}}
    {{/paper-button}}

    {{#if showPromptDialog}}
      {{#paper-dialog
        fullscreen=fullscreen
        onClose=(action "closePromptDialog" certificate)
        origin=dialogOrigin
      }}

        {{#paper-dialog-content}}
          <h2 class="md-title">Are you sure you want to delete the certificate?</h2>
          <h3>Certificate name: {{certificate.name}}</h3>
          <h3>Number: {{certificate.number}}</h3>
        {{/paper-dialog-content}}

        {{#paper-dialog-actions class="layout-row"}}
          <span class="flex"></span>
          {{#paper-button primary=true onClick=(action "closePromptDialog" "cancel")}}Cancel{{/paper-button}}
          {{#paper-button primary=true onClick=(action "deleteCertificate" certificate)}}Delete{{/paper-button}}
        {{/paper-dialog-actions}}

      {{/paper-dialog}}
    {{/if}}
  </td>

