  <td>{{seaservice.employer}}</td>
  <td>{{seaservice.vesselName}}</td>
  <td>{{seaservice.vesselType}}</td>
  <td>{{seaservice.vesselGT}}</td>
  <td>{{seaservice.position}}</td>
  <td>{{seaservice.signOn}}</td>
  <td>{{seaservice.signOff}}</td>
  <td>{{daysOfService}} days<br>{{seaservice.timeOnDP}} hrs</td>
  <td>{{seaservice.dpClass}}</td>
  <td>
    {{#popover-component
      item=seaservice
      icon='info-outline'
    }}
      {{vessel-details seaservice=seaservice}}
    {{/popover-component}}
  </td>

  <td class="text-right">
    {{#paper-button iconButton=true}}
      {{#link-to 'users.seaservice.edit' seaservice.id}}{{paper-icon "create"}}{{/link-to}}
    {{/paper-button}}

    {{#paper-button iconButton=true onClick=(action 'showPrompt' seaservice)}}
      {{paper-icon "delete"}}
    {{/paper-button}}

    {{#if showPromptDialog}}
      {{#paper-dialog
        fullscreen=fullscreen
        onClose=(action "closePromptDialog"seaservice)
        origin=dialogOrigin
      }}

        {{#paper-dialog-content}}
          <h2 class="md-title">Are you sure you want to delete the seaservice?</h2>
        {{/paper-dialog-content}}

        {{#paper-dialog-actions class="layout-row"}}
          <span class="flex"></span>
          {{#paper-button primary=true onClick=(action "closePromptDialog" "cancel")}}Cancel{{/paper-button}}
          {{#paper-button primary=true onClick=(action "deleteSeaservice" seaservice)}}Delete{{/paper-button}}
        {{/paper-dialog-actions}}

      {{/paper-dialog}}
    {{/if}}
  </td>

