<td class='col-xs-3'>{{certificate.name}}</td>
<td class='col-xs-3'>{{certificate.expiryDate}}</td>
<td class='col-xs-2 hidden-xs'>{{daysOfServiceToRenew}}</td>
<td class='col-xs-2 hidden-xs'>{{seaserviceSinceIssue}}</td>
<td class='col-xs-2'>{{missingSeaservice}}</td>
