<div class="form-horizontal">
  {{paper-input
    class=form-control
    label="Title"
    value=post.title
    onChange=(action (mut post.title))
    required=true
    errorMessages=(hash required="Title is required.")
  }}

  {{paper-input
    class='form-control hidden'
    value=post.user
    required=true
    onChange=null
  }}

  {{#paper-select
    class=form-control
    label="Category"
    options=categories
    selected=post.category
    required=true
    errorMessages=(hash required="Category is required.")
    onChange=(action (mut post.category)) as |category|
    }}
    {{category}}
  {{/paper-select}}

  {{paper-input
    class=form-control
    textarea=true
    block=true
    label="Description"
    maxlength=1500
    passThru=(hash rows=5 maxRows=20)
    value=post.description
    onChange=(action (mut post.description))
    required=true
    errorMessages=(hash required="Description is required.")
  }}
  <div class="form-group">
    {{#paper-button iconButton=true onClick=(action 'savePost' post) disabled=post.isInvalid}}
      {{paper-icon "save"}}
    {{/paper-button}}
  </div>
</div>
