{{#paper-toolbar as |toolbar|}}
  {{#sticky-container options=stickyOptions }}
    {{#toolbar.tools}}
      {{ui/search-input value=searchTerm onChange=(action (mut searchTerm))}}
      <span class="flex"></span>
      Created at
      {{ui/link-button
        destination=(query-params sortBy="createdAtDesc")
        iconButton=true
        icon="arrow-downward"
        class='zoom-in-icon'
      }}
      {{ui/link-button
        destination=(query-params sortBy="createdAtAsc")
        iconButton=true
        icon="arrow-upward"
        class='zoom-in-icon'
      }}
    {{/toolbar.tools}}
  {{/sticky-container}}
{{/paper-toolbar}}
<div class="row">
  {{#each sortedPosts as |post|}}
    <div>
      {{post-item post=post session=session}}
    </div>
  {{else}}
    <p>You have no posts</p>
  {{/each}}
</div>
