{{#paper-toolbar as |toolbar|}}
  {{#sticky-container options=stickyOptions }}
    {{#toolbar.tools}}
      <div class="search-panel">
        {{paper-input placeholder="Search" value=searchTerm onChange=(action (mut searchTerm)) icon="search"}}
      </div>
      <span class="flex"></span>
      Created at
      {{#paper-button onClick=(action "setSorting" "createdAtDesc") iconButton=true}}
        {{paper-icon "arrow-downward"}}
      {{/paper-button}}
      {{#paper-button onClick=(action "setSorting" "createdAtAsc") iconButton=true}}
        {{paper-icon "arrow-upward"}}
      {{/paper-button}}
    {{/toolbar.tools}}
  {{/sticky-container}}
{{/paper-toolbar}}
<div class="row">
  {{#each sortedPosts as |post|}}
    <div class="col-md-6">
      {{post-item post=post session=session}}
    </div>
  {{else}}
    <p>You have no posts</p>
  {{/each}}
</div>