{{#paper-toolbar as |toolbar|}}
  {{#sticky-container options=stickyOptions }}
    {{#toolbar.tools}}
      {{search-input value=searchTerm onChange=(action (mut searchTerm))}}
      <span class="flex"></span>
      Created at
      {{ui/action-button onClick=(action "setSorting" "createdAtDesc") iconButton=true icon="arrow-downward"}}
      {{ui/action-button onClick=(action "setSorting" "createdAtAsc") iconButton=true icon="arrow-upward"}}
    {{/toolbar.tools}}
  {{/sticky-container}}
{{/paper-toolbar}}
<div class="row">
  {{#each sortedPosts as |post|}}
    <div class="col-md-6">
      {{post-item post=post session=session}}
    </div>
  {{else}}
    <p>You have no posts</p>
  {{/each}}
</div>