<td>{{certificate.name}}</td>
<td class='hidden-xs'>{{certificate.number}}</td>
<td class='hidden-xs'>{{issueDateFormatted}}</td>
<td>{{expiryDate}}</td>

<td class="text-right">
  {{#paper-button
    bind-attr disabled=noScanPresent
    iconButton=true
    onClick=(action 'showModal')
    class='scan-preview'
  }}
    {{paper-icon 'insert-photo'}}
    {{tooltip-on-component delay=500 effect='slide' text='Preview'}}
  {{/paper-button}}

  <a download href={{imageUrl}}>
    {{#paper-button
      bind-attr disabled=noScanPresent
      iconButton=true
      class='scan-download'
    }}
        {{paper-icon 'cloud-download'}}
        {{tooltip-on-component delay=500 effect='slide' text='Download'}}
    {{/paper-button}}
  </a>

  {{#paper-button
    iconButton=true
    class='hidden-sm hidden-md hidden-lg hidden-xl certificate-details'
  }}
    {{paper-icon "info"}}
    {{#tooltip-on-component delay=500 effect='slide' side='left' event='click'}}
      {{certificates-table/item/details certificate=certificate}}
    {{/tooltip-on-component}}
  {{/paper-button}}

  {{#link-to 'users.certificates.edit' certificate.id}}
    {{#paper-button
      iconButton=true
      class='edit-certificate'
    }}
      {{paper-icon "create"}}
      {{tooltip-on-component delay=500 effect='slide' text='Edit'}}
    {{/paper-button}}
  {{/link-to}}

  {{#paper-button
    iconButton=true
    onClick=(action 'showPrompt' certificate)
    class='delete-certificate'
  }}
    {{paper-icon "delete"}}
    {{tooltip-on-component delay=500 effect='slide' text='Delete'}}
  {{/paper-button}}

  {{#if showPromptDialog}}
    {{#paper-dialog
      fullscreen=fullscreen
      onClose=(action "closePromptDialog" certificate)
      origin=dialogOrigin
    }}
      <div id="paper-wormhole"></div>

      {{#paper-dialog-content}}
        <h2 class="md-title">Are you sure you want to delete the certificate?</h2>
        <h3>Certificate name: {{certificate.name}}</h3>
        <h3>Number: {{certificate.number}}</h3>
      {{/paper-dialog-content}}

      {{#paper-dialog-actions class="layout-row"}}
        <span class="flex"></span>
        {{#paper-button primary=true onClick=(action "closePromptDialog" "cancel")}}Cancel{{/paper-button}}
        {{#paper-button primary=true onClick=(action "deleteCertificate" certificate)}}Delete{{/paper-button}}
      {{/paper-dialog-actions}}

    {{/paper-dialog}}
  {{/if}}
</td>

