  <td class='hidden-xs'>{{seaservice.employer}}</td>
  <td>{{seaservice.vesselName}}</td>
  <td class='hidden-xs'>{{seaservice.vesselType}}</td>
  <td class='hidden-xs'>{{seaservice.vesselGT}}</td>
  <td>{{seaservice.position}}</td>
  <td class='hidden-xs'>{{seaservice.signOn}}</td>
  <td class='hidden-sm hidden-md hidden-lg hidden-xl'>{{seaservice.signOn}}<br>{{seaservice.signOff}}</td>
  <td class='hidden-xs'>{{seaservice.signOff}}</td>
  <td class='hidden-xs'>{{daysOfService}} days<br>{{seaservice.timeOnDP}} hrs</td>
  <td class='hidden-xs'>{{seaservice.dpClass}}</td>
  <td>
    {{#popover-component
      item=seaservice
      icon='info-outline'
      class='popover-seaservice-details'
    }}
      {{seaservice-table/item/details seaservice=seaservice}}
    {{/popover-component}}

    {{#paper-button
      iconButton=true
      class='edit-seaservice'
    }}
      {{#link-to 'users.seaservice.edit' seaservice.id}}{{paper-icon "create"}}{{/link-to}}
    {{/paper-button}}

    {{#paper-button
      iconButton=true
      class='delete-seaservice'
      onClick=(action 'showPrompt' seaservice)
    }}
      {{paper-icon "delete"}}
    {{/paper-button}}

    {{#if showPromptDialog}}
      {{#paper-dialog
        fullscreen=fullscreen
        onClose=(action "closePromptDialog" seaservice)
        origin=dialogOrigin
      }}

        {{#paper-dialog-content}}
          <h2 class="md-title">Are you sure you want to delete the seaservice?</h2>
        {{/paper-dialog-content}}

        {{#paper-dialog-actions class="layout-row"}}
          <span class="flex"></span>
          {{#paper-button primary=true onClick=(action "closePromptDialog" "cancel")}}Cancel{{/paper-button}}
          {{#paper-button primary=true onClick=(action "deleteSeaservice" seaservice)}}Delete{{/paper-button}}
        {{/paper-dialog-actions}}

      {{/paper-dialog}}
    {{/if}}
  </td>
