<div class="container">
  {{nav-bar}}
  {{outlet}}
  {{#unless session.isAuthenticated}}
    <a {{action "signIn" "google"}} class="btn">Google</a>
  {{else}}
    <span>Currently logged in as {{session.currentUser.displayName}} with
      {{session.provider}} - <a {{action "signOut"}}>Sign out</a></span>
  {{/unless}}
</div>