{{#paper-toolbar as |toolbar|}}
  {{#sticky-container options=stickyOptions }}
    {{#toolbar.tools}}
      {{ui/search-input value=searchTerm onChange=(action (mut searchTerm))}}
    {{/toolbar.tools}}
  {{/sticky-container}}
{{/paper-toolbar}}
<h1>Certificates</h1>
{{certificates-table certificates=stcwCertificates title='STCW certificates' id='stcwCerts'}}
{{certificates-table certificates=passports title="Passports and Seaman's books" id='passports'}}
{{certificates-table certificates=medicalCertificates title='Medical certificates' id='medicalCerts'}}
{{certificates-table certificates=endorsements title='Endorsements' id='endorsements'}}
