{{#paper-toolbar as |toolbar|}}
  {{#sticky-container options=stickyOptions }}
    {{#toolbar.tools}}
      {{ui/search-input value=searchTerm onChange=(action (mut searchTerm))}}
      <span class="flex"></span>
      {{ui/link-button
        destination=(query-params sortBy="expiryDateDesc")
        iconButton=true
        icon="arrow-downward"
        class='zoom-in-icon'
      }}
      {{ui/link-button
        destination=(query-params sortBy="expiryDateAsc")
        iconButton=true
        icon="arrow-upward"
        class='zoom-in-icon'
      }}
    {{/toolbar.tools}}
  {{/sticky-container}}
{{/paper-toolbar}}
<h1>Certificates</h1>
{{certificates-table certificates=stcwCertificates title='STCW certificates'}}
{{certificates-table certificates=passports title="Passports and Seaman's books" id='passports'}}
{{certificates-table certificates=medicalCertificates title='Medical certificates' id='medicalCerts'}}
{{certificates-table certificates=endorsements title='Endorsements' id='endorsements'}}
